<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#"><i class="fas fa-graduation-cap"></i>
        <strong>AIU</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Admin Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/users}">Users Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/students}">Students Page</a>
            </li>
            <li class="nav-item">
                <a id="adminPage" style="display:none" class="nav-link" href="#" th:href="@{/}">
                    Admin Page
                </a>
            </li>
            <li class="nav-item">
                <a id="studentPage" style="display:none; " class="nav-link" href="#" th:href="@{/}">
                    Student Page
                </a>
            </li>
            <li class="nav-item">
                <a id="students" style="display:none" class="nav-link" href="#" th:href="@{/marks}">
                    Students Marks
                </a>
            </li>
        </ul>
        <div class="text-white">
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="btn btn-danger">Logut</a>
            </li>
        </div>
    </div>
</nav>

<br/>
<br/>


<div class="container">
    <br>
    <h2 style="text-align:center; font-weight: bold; font-size: 40px">Welcome, <span id="auth"
                                                                                     sec:authentication="principal.username">User</span>
    </h2>
</div>

<script>
    const user = document.getElementById('auth');
    const pages = document.getElementsByClassName('nav-link');
    const students = document.getElementById('students');
    const studentPage = document.getElementById('studentPage');
    if (user.textContent !== "admin"){
        for (let page of pages) {
            page.style.display = "none";
        }
        students.style.display = "flex";
        studentPage.style.display = "flex";
    }
</script>
</body>

</html>