<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Marks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#"><i class="fas fa-graduation-cap"></i>
        <strong>AIU</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="studentPage" class="navbar-brand" href="#" th:href="@{/}">
                    Student Page
                </a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="#" th:href="@{/marks}">
                    Students Marks
                </a>
            </li>
        </ul>
        <div class="text-white">
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="btn btn-danger">Logut</a>
            </li>
        </div>
    </div>
</nav>

<br/>
<br/>

<div class="container">
    <div class="row">
        <h1 style="font-family: Impact">Students' Marks</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">

            <thead>
            <tr>
                <th>Student First Name</th>
                <th>Student Last Name</th>
                <th>OOP Mark</th>
                <th>CPA Mark</th>
                <th>OS Mark</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="student: ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.OOP}"></td>
                <td th:text="${student.CPA}"></td>
                <td th:text="${student.OS}"></td>
            </tr>
            </tbody>

        </table>

    </div>


</div>

</body>
</html>